.options{
    display:flex;
    justify-content: space-between;
    width:100%;
}

.option{
    width: 15%;
    text-align: center;
    
}

.overall-question{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.first{
    background-color: yellow;
    word-wrap: break-word;
    vertical-align: middle;
}

.second{
    background-color:aqua;
    word-wrap: break-word;
    vertical-align: middle;
}

.third{
    background-color: darkorange;
    word-wrap: break-word;
    vertical-align: middle;
}

.fourth{
    background-color: deeppink;
    word-wrap: break-word;
    vertical-align: middle;
}